.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 100%;
  /* a file as a background */
  background-image: url("../assets/images/background-desktop.png");
}

.logo {
  margin-top: 20px;
}

.header-title {
  font-size: 2rem;
  margin-top: 30px;
}

.header-desc {
  font-size: 1.2rem;
}
